<p>Search For Products</p>

 <%= form_tag 'find_products' do %>
     <p><%= text_field_tag :keywords %>
     <%= select_tag :category, options_for_select([["All","All"], ["Books","Books"],["Movies","Movies"],["Music","Music"]], @category) %></p>
     <p><%= submit_tag 'Search' %></p>
 <% end %>